{% extends 'base.html' %}
{% block body %}
    <form method="post" action="{% url ingresar %}" id="login-form">
        {% csrf_token %}
        <ul>
            {{ form.non_field_errors }}
            {% for field in form %}
                <li>
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                </li>
            {% endfor %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% else %}
                <input type="hidden" name="next" value="{% url home_view %}"/>
            {% endif %}
            <li>
                <input type="submit" class="submit" value="Ingresar" id="sign-in"/>
            </li>
        </ul>
    </form>
{% endblock %}